#include("./src.html")


<body>
<div class="main">
	
	<!-- 导航 start-->
		<div class="nav_box">
			#include("./nav/nav001.html")
		</div>
	<!-- 导航 end-->


	<!-- 轮播图 start -->
	<div class="banner_box">
		#include("./banner/banner001.html")
	</div>
	<!-- 轮播图 end -->


	<div class="content_box">
		<div class="row">

			<div class="col-lg-2 col-md-2">
				<div class="slider_box">
					#include("./slide/slide001.html")
				</div>				
			</div>

			<div class="col-lg-10 col-md-10">
				this is content..
			</div>
		</div>
	</div>


	<div class="link_box"></div>


<!-- 底部 start-->
	<div class="footer_box">
		#include("./footer/footer001.html")
	</div>
<!-- 底部 end-->








</div>


</body>
</html>